.contain {
display: flex;
align-items: center;
background-color:  rgb(231, 231, 231);
flex-shrink: 1;
position: fixed;
width: 100vw;



}

.contain > a {
    
  
    font-size: 2.5em;
    color: rgb(96, 96, 96);
    text-decoration: none;
    text-align: center;
  
    width: 33vw;
    
    
    }

.contain > h1 {
    color: rgb(96, 96, 96);
    font-size: 35px;
    min-width: 0;
    width: 33vw;
    text-align: center;
   
    
    
    }

a:hover {color: brown;}

.photo {
   display: flex;
   height: 400px;
   justify-content: center;
   padding-top: 8em;
   
  }

.box {
    background-color: rgb(246, 246, 246);
    width: 1280px;
    margin: auto;

}  


    

ul {width: 66vw;
margin: auto;
font-size: 1.5em;
background-color:  rgb(246, 246, 246);
font-family: Verdana, Geneva, Tahoma, sans-serif;
box-sizing: border-box;
padding-left: 2em;
padding-right: 2em;
}

ol {width: 66vw;
    margin: auto;
    font-size: 1.5em;
    background-color: rgb(246, 246, 246);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    padding-bottom: 6em;
    padding-right: 3em;
    }
    

.mid {width: 66vw;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding-left: 2em;
    padding-right: 2em;
    
  }

h2 {text-align: center;
padding-top: 1em;
padding-bottom: 2em;
font-size: 2em;
background-color:  rgb(246, 246, 246);
margin: auto;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*
.home:hover {color: rgb(255, 255, 255);}

*/

p {font-size: 1.5em;
background-color:  rgb(246, 246, 246);
margin: auto;
box-sizing: border-box;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url(https://media.istockphoto.com/id/1399931897/vector/white-marble-texture-background-used-in-design-for-skin-tile-wallpaper-interiors-backdrop.jpg?s=612x612&w=0&k=20&c=DjVPzwZlABt2pk1ue094xXOIko_8kOLxlKkgZgk1Se8=); 
 margin: 0;
}

.footer {width: 100vw;
        font-size: 1.5em;
        display: flex;
        justify-content: center;
        padding: 20px;}
@media screen and (max-width: 1440px)

{ .mid {width:100vw;
font-size: 16px;}


.contain > h1 {font-size: 18px;}

.contain > a {font-size: 18px;}


.contain > h2 {
    font-size: 18px;
}
} 