.contain {
display: flex;
align-items: center;
background-color:  rgb(246, 246, 246);



}

.contain > a {
    
  
    font-size: 2.5em;
    color: rgb(96, 96, 96);
    text-decoration: none;
    text-align: center;
  
    width: 33vw;
    
    
    }

.contain > h1 {
    color: rgb(96, 96, 96);
    font-size: 35px;
    min-width: 0;
    width: 33vw;
    text-align: center;
    
    
    }

a:hover {color: brown;}

.photo {
    display: flex;
    object-fit: cover;
    flex-basis: 0;
    flex-grow: 1;
}


img {margin: auto;
display: block;
width: 100%;
aspect-ratio: 1;
height: auto;
}

ul {width: 66vw;
margin: auto;
font-size: 1.5em;
background-color:  rgb(238, 237, 237);
font-family: Verdana, Geneva, Tahoma, sans-serif;
box-sizing: border-box;
}

ol {width: 66vw;
    margin: auto;
    font-size: 1.5em;
    background-color: rgb(238, 237, 237);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    padding-bottom: 2em;
    }
    

.mid {width: 66vw;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }

h2 {text-align: center;
padding-top: 2em;
padding-bottom: 2emx;
font-size: 2em;
background-color:  rgb(238, 237, 237);
margin: auto;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*
.home:hover {color: rgb(255, 255, 255);}

*/

p {font-size: 1.5em;
background-color:  rgb(238, 237, 237);
margin: auto;
box-sizing: border-box;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url(https://media.istockphoto.com/id/1399931897/vector/white-marble-texture-background-used-in-design-for-skin-tile-wallpaper-interiors-backdrop.jpg?s=612x612&w=0&k=20&c=DjVPzwZlABt2pk1ue094xXOIko_8kOLxlKkgZgk1Se8=); 
 margin: 0;
}

@media screen and (max-width: 1440px)

{ .mid {width:100vw;}

img {width:1440px;
    height: 600px;
aspect-ratio: 1;}

.contain {font-size: 16px;}

} 