h1 {text-align: center;
font-size: 50px;
color: white;
background-color: rgb(109, 109, 215);
margin-top: 0;
}


ul  {width: fit-content;
margin-left: auto;
margin-right: auto;
font-size: 50px;
color: black;
padding-bottom: 20px;
padding-top: 20px;
margin-top: 100px;
list-style: none;
padding: 0;
line-height: 100px;
text-align: center;

}

a:hover {font-size: 50px;
color: rgb(156, 155, 155)} 

a {color: black;
text-decoration: none;}

body {background-color: brown;
background-image: url(https://media.istockphoto.com/id/1399931897/vector/white-marble-texture-background-used-in-design-for-skin-tile-wallpaper-interiors-backdrop.jpg?s=612x612&w=0&k=20&c=DjVPzwZlABt2pk1ue094xXOIko_8kOLxlKkgZgk1Se8=) ;
margin: 0;
;}

h2 {background-color: blue;}


